# Ignore node_modules directory
node_modules

# Ignore build artifacts
dist
build

# Ignore development-specific files
.env
.env.local
.env.development
.env.test
.env.production
.env*.local

# Ignore editor-specific files
.idea/
.vscode/

# Ignore git-related files
.git
.gitignore

# Ignore Docker-related files
.dockerignore
Dockerfile*
docker-compose.yml

# Ignore npm/yarn lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
