.toast {
  position: fixed;
  /*top: 50%;*/
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 123, 255, 0.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  opacity: 1;
  pointer-events: none;
}

.toast.show {
  opacity: 1;
  pointer-events: auto;
}

.toast-content {
  text-align: center;
  text-decoration: #213547;
  color: 000000;
}
