#root {
    margin: 0;
    padding: 0 15px;
    place-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#root > nav, #root > div, #root > footer {
    width: 100%;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    background-color: #007bff; /* Set background color to blue */
    color: #fff; /* Set text color to white */
    padding: 100px 0; /* Add padding for spacing */
    text-align: center; /* Center-align text */
}

.hero h1 {
    font-size: 3rem; /* Increase font size for heading */
}

.hero p {
    font-size: 1.5rem; /* Increase font size for paragraph */
}

/* Style the button */
.hero .btn-primary {
    margin-top: 20px; /* Add margin for spacing */
}

.offcanvastext {
    color: #196AA9;
}

.top-nav-color {
    background: #196AA9 !important;
    color: white;
}

.offcanvas a.nav-link {
    color: #007bff !important;
}
@media (min-width: 992px){
    .offcanvas a.nav-link {
        color: #ffffff !important;
    }
}

.accordion-form {
    width: 100%;
    padding: 15px;
}

